<div class='container'>
<html>
  <head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Tangerine">
    <style>
      body {
        font-family: 'Tangerine', serif;
        font-size: 48px;
      }
    </style>
  </head>
  <body>
    
  </body>
</html>

<div class="font-effect-shadow-multiple" style="font-family:Rancho; font-size: 72px; text-align: center;">
Lisa Marie 

<p> To learn more about me visit my website<br><a href="http:/www.lisamariebarnes.com"> <b>LisamarieBarnes.com</a></p>

<div></div></div>
<ul class="snip1485">
  <li class="current"><a href="/" data-hover="Home">Home</a></li>
  <li><a href="#" data-hover="about">About</a></li>
  <li><a href="blog" data-hover="Blog">Blog</a></li>

 <li><a href="mailto:lisabarnes09@gmail.com" data-hover="Contact">Contact</a></li>
</ul>


<p>Need a Website?  <br><a href="http:/www.logixwebdesign.com"> <b>Logixwebdesign.com</a></p>
