<div class='container'>
<html>
  <head>
  <script>https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js</script>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Tangerine">
    <style>
      body {
        font-family: 'Tangerine', serif;
        font-size: 48px;
      }
    </style>
 

<div class="perspective">

  <label class="tab" for="tab-top">Ruby on Rails</label>
  <label class="tab" for="tab-front">Git</label>
  <label class="tab" for="tab-bottom">Heroku</label>
  <input type="radio" name="tabs" id="tab-top">
  <input type="radio" name="tabs" id="tab-front">
  <input type="radio" name="tabs" id="tab-bottom"> 

  <div class="cube">
    <div class="tab-content">
      <h1>Rails Views Cheat Sheet</h1>
     <p>Rails Views files are written in .erb (Embedded Ruby); they embed Ruby evaluations in your HTML. 
       Index.html would now be index.html.erb 
<h4>The erb tag<a class="anchor" id="The-erb-tag" href="#The-erb-tag"></a>
</h4>
<pre><code>&lt;% %&gt;
</code></pre>




    </div>
     <div class="tab-content">
      <h1>Initialize Git</h1>
      <h6><pre><code>&lt;$ git config --global user.name "Your Name"
$ git config --global user.email "you@youraddress.com"
$ git config --global push.default matching
$ git config --global alias.co checkout
$ git init&gt;
</code></pre></h6>
    </div>
    <div class="tab-content">
      <h1>Push Your Code to Heroku</h1>
      <h6><pre><code>&lt;
heroku --version login to Heroku
# Push your code
git push heroku master</h6>&gt;
    </div>
  </div>
</div>






