<div class="jumbotron">
 <div class="container">


<h1 class="display-4">Ruby On Rails Project Website</h1>
  <p class="lead">This website is made using Ruby on Rails</p>
  <hr class="my-4">
  <p>Ruby on Rails is another way to make a cool website with it's unique functionality. In this Project I am just showing some very basic things Ruby On rails can do.</p>

   <a class="snip1547 hover" href="about" role="button"><span>Read More</span></a>
 </div>

<h1>Ruby on Rails</h1>
<p>You’ve probably already used many of the applications that were built with Ruby on Rails: Basecamp, GitHub, Shopify, Airbnb, Twitch, SoundCloud, Hulu, Zendesk, Square, Highrise, Cookpad. Those are just some of the big names, but there are literally hundreds of thousands of applications built with the framework since its release in 2004.

Ruby on Rails is open source software, so not only is it free to use, you can also help make it better. More than 4,500 people already have contributed code to Rails. It’s easier than you think to become one of them.</p>
</tr>



